.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 450px;
  filter: blur(3px);
}
.swiper-slide-active {
  filter: blur(0px);
}
.swiper-slide > image {
  display: block;
  width: 100%;
}
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
  background-image: none;
}
